In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime

In [3]:
data = pd.read_csv('movie_bd_v5.csv')

# Предобработка

In [8]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data['profit'] = data.revenue - data.budget

# 1. У какого фильма из списка самый большой бюджет?

# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [57]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == max(data.budget)][['imdb_id', 'original_title', 'budget']]

       imdb_id                               original_title     budget
723  tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

In [58]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [ ]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [ ]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [ ]:
data[data.runtime == max(data.runtime)][['original_title', 'runtime']]

# 3. Какой из фильмов самый короткий (в минутах)?

In [ ]:
data[data.runtime == min(data.runtime)][['original_title', 'runtime', 'imdb_id']]

# 4. Какова средняя длительность фильмов?

In [ ]:
data.runtime.mean()

# 5. Каково медианное значение длительности фильмов?

In [ ]:
data.runtime.median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [ ]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == max(data.profit)][['original_title', 'imdb_id', 'profit']]

# 7. Какой фильм самый убыточный?

In [ ]:
data[data.profit == min(data.profit)][['original_title', 'imdb_id', 'profit']]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [ ]:
len(data[data.profit > 0][['original_title', 'imdb_id']])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [ ]:
list2008 = data[data.release_year == 2008]
list2008[list2008.revenue == max(list2008.revenue)][['original_title', 'imdb_id', 'release_year', 'revenue']]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [ ]:
worst = data[data.release_year.isin(range(2012, 2015))][['original_title', 'imdb_id', 'release_year', 'profit']]
worst[worst.profit == min(worst.profit)]

# 11. Какого жанра фильмов больше всего?

In [ ]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data.genres = data.genres.str.split('|')

In [ ]:
genres = data.explode('genres')
genres.groupby('genres').count().sort_values('imdb_id', ascending=False)['imdb_id']
# genres.values_count('genre')

In [ ]:
genres

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
data[data.profit > 0].explode('genres').groupby('genres').count()['imdb_id'].sort_values(ascending=False)

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [ ]:
data.sample()
data.groupby('director').sum().sort_values('revenue', ascending=False)

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
genres[genres.genres == 'Action'].groupby('director').count()['imdb_id'].sort_values(ascending=False).head(10)

In [ ]:
data = pd.read_csv('movie_bd_v5.csv')
data.genres = data.genres.str.split('|')
genres = data.explode('genres')
genres[genres.genres == 'Action'].groupby('director').count()['imdb_id'].sort_values(ascending=False).head(10)

In [ ]:
# this works
data = pd.read_csv('movie_bd_v5.csv')
data = data[data.genres.map(lambda x: 'Action' in x)]
directors = data.director.str.cat(sep='|').split('|')
pd.Series(directors).value_counts()

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
data = pd.read_csv('movie_bd_v5.csv')
data_2012 = data[data.release_year == 2012]
cast = data_2012.cast.str.cat(sep='|').split('|')
pd.Series({x: sum(data_2012[data_2012.cast.str.contains(x)].revenue) for x in cast}
         ).sort_values(ascending=False)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
data = pd.read_csv('movie_bd_v5.csv')
data.budget.mean()
pd.Series(data[data.budget > data.budget.mean()].cast.str.cat(sep='|').split('|')).value_counts()
# len(hi_bud)

In [ ]:
# calculating budget distribution
import matplotlib.pyplot as plt
data = pd.read_csv('movie_bd_v5.csv')
budgets = data.budget
# budgets.value_counts(bins=10)
plt.hist(budgets, bins=10)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
data = pd.read_csv('movie_bd_v5.csv')
genres = data[data.cast.str.contains('Nicolas Cage')].genres
# genres
# len(genres)
pd.Series(genres.str.cat(sep='|').split('|')).value_counts()

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
Paramount = data[data.production_companies.str.contains('Paramount Pictures')]
Paramount[Paramount.profit == min(Paramount.profit)].original_title

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
data = pd.read_csv('movie_bd_v5.csv')
data.groupby('release_year').sum().sort_values('revenue', ascending=False)

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
# data.head(3)
Warner = data[data.production_companies.str.contains('Warner Bros')]
len(Warner)
# type(Warner)
Warner.groupby('release_year').sum().sort_values('profit', ascending=False)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
from datetime import datetime
data = pd.read_csv('movie_bd_v5.csv').release_date
# data
# datetime.strptime(data[0], '%m/%d/%Y').month
months = data.apply(lambda x: datetime.strptime(x, '%m/%d/%Y').month)
months.value_counts().sort_values(ascending=False)

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [ ]:
from datetime import datetime
data = pd.read_csv('movie_bd_v5.csv').release_date
# data
# datetime.strptime(data[0], '%m/%d/%Y').month
months = data.apply(lambda x: datetime.strptime(x, '%m/%d/%Y').month)
len(months[(months > 5) & (months < 9)])
# months.value_counts().sort_values(ascending=False)

# 23. Для какого режиссера зима – самое продуктивное время года?

In [9]:
# who released most number in winter
data = pd.read_csv('movie_bd_v5.csv')[['director', 'release_date']]
data['release_month'] = data.release_date.apply(lambda x: x.split('/')[0])
data = data[data.release_month.isin(['12', '1', '2'])]
directors = data.director
pd.Series(directors.str.cat(sep='|').split('|')).value_counts()
# data = data.groupby('director').count()

Peter Jackson          7
Clint Eastwood         6
Steven Soderbergh      6
Martin Scorsese        4
Adam Shankman          4
                      ..
Matthew O'Callaghan    1
Len Wiseman            1
Ric Roman Waugh        1
Jonas Elmer            1
Jessie Nelson          1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [8]:
data = pd.read_csv('movie_bd_v5.csv')[['production_companies', 'original_title']]
data['title_len'] = data.original_title.apply(len)
# data.head()
studios = set(data.production_companies.str.cat(sep='|').split('|'))
# for studio in studios:
#     print(studio)
pd.Series([data[data.production_companies.str.contains(studio)]['title_len'].mean()
           for studio in studios], index=studios).sort_values(ascending=False)

Four By Two Productions                        83.0
Jim Henson Company, The                        59.0
Dos Corazones                                  47.0
Museum Canada Productions                      46.0
Polsky Films                                   46.0
                                               ...
Sony Pictures Worldwide Acquisitions (SPWA)     NaN
Sony Pictures Entertainment (SPE)               NaN
Recorded Picture Company (RPC)                  NaN
Parkway Pictures (I)                            NaN
TelevisiÃ³ de Catalunya (TV3)                   NaN
Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [7]:
data = pd.read_csv('movie_bd_v5.csv')[['production_companies', 'overview']]
data['length'] = data.overview.apply(len)
# max(data.length)
# data.sample(3)
studios = set(data.production_companies.str.cat(sep='|').split('|'))
# len(studios)
mean_overview = pd.DataFrame(columns=['length'])
for studio in studios:
    mean_overview.loc[studio] = data[data.production_companies.str.contains(studio)].length.mean()
mean_overview.sort_values('length', ascending=False).head(3)
mean_overview.index[mean_overview.length == max(mean_overview.length)].tolist()

C:\Users\kan\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

                                  length
Midnight Picture Show             1000.0
Room 9 Entertainment               964.0
Brookwell-McNamara Entertainment   936.0

['Midnight Picture Show']

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [6]:
data = pd.read_csv('movie_bd_v5.csv')[['original_title', 'vote_average']]
data.nlargest(int(len(data)/100), 'vote_average').sort_values('original_title')

                                     original_title  vote_average
1191                               12 Years a Slave           7.9
124                                      Big Hero 6           7.8
128                                       Gone Girl           7.9
119                         Guardians of the Galaxy           7.9
370                                       Inception           7.9
9                                        Inside Out           8.0
118                                    Interstellar           8.0
1800                                        Memento           7.9
34                                             Room           8.0
28                                        Spotlight           7.8
599                                 The Dark Knight           8.1
177                          The Fault in Our Stars           7.8
138                        The Grand Budapest Hotel           7.9
125                              The Imitation Game           8.0
1081  The Lord of the Rings: The Return of the King           7.9
872                                     The Pianist           7.9
155                        The Theory of Everything           7.8
1183                        The Wolf of Wall Street           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
from itertools import combinations 
data = pd.read_csv('movie_bd_v5.csv')[['cast']]
frequency = pd.Series()
frequency['Bryce Dallas Howard|Chris Pratt'] = 1
for index, row in data.iterrows():
    cast = sorted(row[0].split('|'))
    pairs = ['|'.join(pair) for pair in combinations(cast, 2)]
    for pair in pairs:
        try:
            frequency[pair] += 1
        except:
            frequency[pair] = 1

In [5]:
frequency.sort_values(ascending=False)[:15]

Daniel Radcliffe|Emma Watson        8
Daniel Radcliffe|Rupert Grint       8
Emma Watson|Rupert Grint            8
Ben Stiller|Owen Wilson             6
Helena Bonham Carter|Johnny Depp    6
Adam Sandler|Kevin James            5
Kristen Stewart|Robert Pattinson    5
Kristen Stewart|Taylor Lautner      5
Robert Pattinson|Taylor Lautner     5
Paul Walker|Vin Diesel              5
Hugh Jackman|Ian McKellen           5
Chris Evans|Scarlett Johansson      4
Jordana Brewster|Vin Diesel         4
Jordana Brewster|Paul Walker        4
Bradley Cooper|Justin Bartha        4
dtype: int64

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)